.fa.disabled,
.fa[disabled],
.disabled > .fa,
[disabled] > .fa {
  opacity: 0.6;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

label {
    font-weight: bold;
}

.box {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    min-width: 2em;
}

ul.buttons {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    margin-right: 0.5em;
}

ul.buttons li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mod {
    display: inline-block;
    min-width: 2em;
}

.ability dl dd {
    display: inline-block;
    text-align: center;
}

.ability dl dt {
    display: inline-block;
    text-align: right;
    min-width: 3em;
    padding-right: 0.5em;
}

.lock-unlock h1 {
    display: inline-block;
    padding-right: 1em;
}

h1 a {
    margin-left: 0.5em;
}

.lock-unlock h1 span#buffer {
    margin-left: 0.5em;
}

input.small {
    width: 4em;
}

input+a {
    margin-left: 0.5em;
}

table {
    width: 100%
}

div.row {
    margin-bottom: 50px;
}

tr {
    border-bottom: 1px solid black;
}

th {
    border-bottom: 3px solid black;
}

table#languages {
    border-top: 3px solid black;
}

textarea#background {
    width: 100%;
}

input#name {
    width: 100%;
}

h1#notes {
    margin-bottom: 34px;
}

ul#Dwarf, ul#Halfling, ul#Human, ul#Elf {
    border-top: 3px solid black;
    list-style-type: none;
    padding-inline-start: 0;
}

ul#Dwarf li, ul#Halfling li, ul#Human li, ul#Elf li {
    border-bottom: 1px solid black;
}

section {
    margin-bottom: 25px;
}

.printonly {
    display: none;
}

@media print {

    body {
	font-size: 10pt;
    }
    
    .fa, .noprint {
	display: none;
    }

    span.printonly {
	display: inline;
    }

    div.printonly {
	display: block;
    }

    input, select, label, textarea {
	display: none;
    }

    span#name-print { 
	font-size: 48pt;
    }

    div#byline {
	font-size: 18pt;
    }

    div#background-print {
	font-size: 18pt;
	font-style: italic;
    }

    div.row {
	margin-bottom: 12pt;
    }

    h1#notes {
	margin-bottom: 20pt;
    }

}